---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

/* Style for the tags */
.tags {
  margin-top: 10px;
}

.tag {
  display: inline-block;
  padding: 5px 10px;
  margin-right: 5px;
  background-color: #f0f0f0; /* Background color for the rounded box */
  border-radius: 20px; /* Rounded corners */
  font-size: 14px; /* Adjust the font size as needed */
}

/*These CSS styles will create a rounded box for each tag with a specified background color and font size.*/
