---
layout: base
---

<div class="search-container">
  <input type="text" id="search-input" placeholder="Search...">
  <ul id="search-results"></ul>
</div>

<div class="post">
<!-- <h1> Posts tagged with: {{ page.tag }}</h1> -->
<h1 style="font-size:14px; "> Posts tagged with <span class="tag">{{ page.tag }}</span></h1>
<ul>
{% for post in site.tags[page.tag] %}
  <li><a href="/{{ site.github.project_title }}{{ post.url }}">{{ post.title }}</a> ({{ post.date | date_to_string }})<br>
    {{ post.description }}
  </li>
{% endfor %}
</ul>
</div>
<hr>
